/* confirmation-dialog.component.css */

mat-dialog-content {
    padding: 20px;
  }
  
  mat-dialog-actions {
    justify-content: space-between;
    margin-top: 20px;
  }
  
  mat-dialog-content,
mat-dialog-actions {
  transition: all 0.3s ease-in-out;
}

mat-icon {
  vertical-align: bottom;
  margin-right: 7px;
}

h2 {
  font-weight: bold; 
  background: #f44336;
  color: white;
}

  button[mat-button].cancel {
    color: gray; 
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 6px;
  font-size: 24px;
 
    background: #0d0d0d;
  }

  .close-button:hover {
    color: #777;
  }
  

 h2, mat-dialog-title {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.4); }
    70% { box-shadow: 0 0 0 10px rgba(244, 67, 54, 0); }
    100% { box-shadow: 0 0 0 0 rgba(244, 67, 54, 0); }
  }
  