<mat-form-field class="example-chip-list">
    <mat-label>{{this.palceHolderNameStrin}}</mat-label>




    <mat-autocomplete tab-selected #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of filteredItems | async" [value]="item">
            {{item}}
        </mat-option>
    </mat-autocomplete>
    <mat-chip-grid #chipGrid aria-label="Item selection">
        <mat-chip-row *ngFor="let item of items" (removed)="remove(item)">
            {{item}}
            <button matChipRemove [attr.aria-label]="'remove ' + item">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        <input #input placeholder="New Item..." #itemInput [formControl]="itemCtrl" [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)" />
        <mat-icon style=" position: relative; top: 7px;color: rgb(194, 192, 192);" matPrefix>search</mat-icon>

    </mat-chip-grid>


</mat-form-field>