img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
  }

  
  .spacer {
    flex: 1;
  }
  
  
  .footer {
    color: gray;
    font-size: 12px;
    margin-top: 2%;
  }
  
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000; /* Adjust the z-index as needed */
  }