<mat-toolbar class="mat-elevation-z3">
  
  <div class="spacer"></div> 
  <app-custome-search (term)="handleSearchTermChange($event)" ></app-custome-search>
  <div class="spacer"></div> 

</mat-toolbar>
<br />
<div class="responsive-grid" dir="auto">
    <mat-card *ngFor="let card of (cards$ | async)?.content;trackBy: myTrackByFunc">
        <mat-card-header>
          <mat-card-title >{{ card.name }}   <div class="footer">{{ card.creation_date | date:'medium' }} </div></mat-card-title>
          <div class="spacer"></div>
  
            <button mat-mini-fab color="primary" (click)="addChildHandler(card)" >
              <mat-icon>edit</mat-icon> 
            </button>
          
          </mat-card-header>
        <br />
        <!-- <img mat-card-image [src]="card.imageUrl" /> -->
        <mat-card-content>
        
          <p class="scrollable-description">
            {{ card.description }}
          </p>
        </mat-card-content>
        <mat-card-content class="footer">
            {{ card.modification_date | date:'medium' }}
            <div class="spacer"></div>
           
            <button mat-mini-fab color="primary" (click)="addChildHandler(card,true)" >
              <mat-icon>visibility_off</mat-icon> 
            </button>
            <button mat-mini-fab color="warn" (click)="handleDelete(card)" >
              <mat-icon>delete</mat-icon> 
            </button>
          </mat-card-content>
      </mat-card>

      <button mat-fab color="primary" class="floating-button" (click)="addChildHandler()">
        <mat-icon>add</mat-icon> <!-- You can change the icon as needed -->
      </button>



</div>
<mat-paginator showFirstLastButtons 
[pageSize]="pageSize" 
[pageSizeOptions]="pageSizeOptions" 
(page)="pageEvent($event)" 
[length]="totalRecords"></mat-paginator>