<mat-card>
  <mat-card-content>
    <form [formGroup]="customerForm">
      <div class="flex-container">
        <input hidden formControlName="id">

        <div class="form-group">
          <mat-form-field class="form-group"  >
            <mat-icon style="position: relative; color: #bfdbf7;" matPrefix>code</mat-icon>
            <mat-label>{{"code_id" | translate}}</mat-label>
            <input [readonly]="true" matInput formControlName="code_id">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="form-group">
            <mat-icon style="position: relative; color: #bfdbf7;" matPrefix>person</mat-icon>
            <mat-label>{{"customer_name" | translate}}</mat-label>
            <input [readonly]="true" matInput formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="flex-container">
        <div class="form-group">
          <mat-form-field class="flex-container">
            <mat-label>{{"enter_a_date_range" | translate}}</mat-label>
            <mat-date-range-input [formGroup]="customerForm" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>{{"cancel"|translate}}</button>
                <button mat-raised-button color="primary" (click)="loadData()" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>

            @if (customerForm.controls['start'].hasError('matStartDateInvalid')) {
            <mat-error>{{"invalid_start_date" | translate}}</mat-error>
            }
            @if (customerForm.controls['end'].hasError('matEndDateInvalid')) {
            <mat-error>{{"invalid_end_date" | translate}}</mat-error>
            }
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary" class="align-button" (click)="openPrinterWindow()">{{"invoice_printing" | translate}}</button>

      </div>
    </form>
  </mat-card-content>
</mat-card>

<br />

<ng-container *ngIf="cards$ | async as cardsData">
  <mat-card *ngIf="cardsData.financial_transactions && cardsData.financial_transactions.length > 0">
    <mat-card-header>
 
      <mat-card-title>
        {{ "financial_summary" | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ "overview_of_borrower_and_stock_data" | translate }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="card-values">
        <span class="bold-custom">
          {{ "total_borrower_on_period" | translate }} : {{ cardsData.total_borrower_on_period }}
        </span>
        <br>
        <span class="bold-custom">
          {{ "total_stock_on_period" | translate }} : {{ cardsData.total_stock_on_period }}
        </span>
        <br>
        <span class="bold-custom">
          {{ "total_stock_on_final" | translate }} : {{ cardsData.total_stock_on_final + ' ' + cardsData.footer_value}}
        </span>
        <br>
        <span class="bold-custom">
          {{ "total_stock_on_final_real" | translate }} : {{ cardsData.total_stock_on_final_real + ' ' + cardsData.footer_value}}
        </span>
        <br>
 
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

 
<br>



<div class="responsive-grid">
  <mat-card *ngFor="let card of (cards$ | async)?.financial_transactions;trackBy: myTrackByFunc">
    <mat-card-header>
      <mat-card-title>
        <span><div class="bold-custom">  {{ "statement" | translate }}:</div> {{ card?.statement?.name }}</span>
        <span><div class="bold-custom">{{ "product" | translate }}:</div> {{ card?.product?.name }}</span>
        <div class="footer">{{ card.creation_date | date:'medium' }} </div>
      </mat-card-title>
      <div class="spacer"></div>

      <button mat-mini-fab color="" (click)="addChildHandler(card)">
        <mat-icon>edit</mat-icon>
      </button>

    </mat-card-header>
    <br />
    <!-- <img mat-card-image [src]="card.imageUrl" /> -->
    <mat-card-content>

     <div> <span><div class="bold-custom">{{ "count" | translate }}:</div> {{ card?.count }}</span></div>
     <div> <span><div class="bold-custom">{{ "price" | translate }}:</div> {{ card?.price | currency }}</span></div>
     <div> <span><div class="bold-custom">{{ "borrower" | translate }}:</div> {{ card?.borrower }}</span></div>
     <div> <span><div class="bold-custom">{{ "stock" | translate }}:</div> {{ card?.stock }}</span></div>
     <div> <span><div class="bold-custom">{{ "total_borrower" | translate }}:</div> {{ card?.total_borrower }}</span></div>
     <div> <span><div class="bold-custom">{{ "total_stock" | translate }}:</div> {{ card?.total_stock }}</span></div>


    </mat-card-content>
    <mat-card-content class="footer">

      <span> {{ card.modification_date | date:'medium' }}</span>

      <div class="spacer"></div>

      <button mat-mini-fab color="primary" (click)="addChildHandler(card,true)">
        <mat-icon>visibility_off</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="handleDelete(card)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <button mat-fab color="primary" class="floating-button" (click)="addChildHandler()">
    <mat-icon>add</mat-icon> <!-- You can change the icon as needed -->
  </button>



</div>