<div *ngFor="let transaction of transactions">
  <mat-card>
    <mat-card-content>

      <app-custom-chip-autocompelete-component palceHolderNameStrin="Statement" [filteredOneItemsInput]="transaction.statement ?? ''"
        [filterFn]="filterStatement" (selectedItems)="transaction.statement = $event[0]" 
        [maxSelections]="1"
        [isRequired]="true">
      </app-custom-chip-autocompelete-component>


      <app-custom-chip-autocompelete-component palceHolderNameStrin="Product" [filteredOneItemsInput]="transaction.product ?? ''"
        [filterFn]="filterProduct" (selectedItems)="transaction.product= $event[0]" 
        [maxSelections]="1"
        [isRequired]="true">
      </app-custom-chip-autocompelete-component>

      <div class="row">




        <mat-form-field class="example-full-width">
          <mat-label>Count</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.count" [readonly]="readOnly" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Price</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.price" [readonly]="readOnly" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Borrower</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.borrower" [readonly]="readOnly">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Stock</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.stock" [readonly]="readOnly">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Total Borrower</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.total_borrower" [readonly]="readOnly">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Total Stock</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.total_stock" [readonly]="readOnly">
        </mat-form-field>
      </div>

    </mat-card-content>
  </mat-card>
</div>
<br/>
<button [hidden]="readOnly" mat-raised-button color="primary" (click)="onSubmit()">Save</button>


<div [hidden]="isEdit">
<button mat-fab [hidden]="readOnly" color="primary" class="floating-button" (click)="addEmptyTransaction()">
  <mat-icon>add</mat-icon>
</button>
</div>