<div *ngFor="let transaction of transactions">
  <mat-card>
    <mat-card-content>

      <app-custom-chip-autocompelete-component palceHolderNameStrin="Statement" [filteredOneItemsInput]="transaction.statement ?? ''"
        [filterFn]="filterStatement" (selectedItems)="transaction.statement = $event[0]" 
        [maxSelections]="1"
      >
      </app-custom-chip-autocompelete-component>


      <app-custom-chip-autocompelete-component palceHolderNameStrin="Product" [filteredOneItemsInput]="transaction.product ?? ''"
        [filterFn]="filterProduct" (selectedItems)="transaction.product= $event[0]" 
        [maxSelections]="1"
       >
      </app-custom-chip-autocompelete-component>

      <div class="row">




        <mat-form-field class="example-full-width">
          <mat-label>{{"count" | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.count" [readonly]="readOnly"  >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>{{"price" | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.price" [readonly]="readOnly"  >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>{{"borrower" | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.borrower" [readonly]="readOnly">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>{{"stock" | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.stock" [readonly]="readOnly">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>{{"total_borrower" | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.total_borrower" [readonly]="readOnly">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>{{"total_stock" | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="transaction.total_stock" [readonly]="readOnly">
        </mat-form-field>
      </div>

    </mat-card-content>
  </mat-card>
</div>
<br/>
<button [hidden]="readOnly" mat-raised-button color="primary" (click)="onSubmit()">{{"submit" | translate}}</button>


<div [hidden]="isEdit">
<button mat-fab [hidden]="readOnly" color="primary" class="floating-button" (click)="addEmptyTransaction()"  [dir]="direction">
  <mat-icon>add</mat-icon>
</button>
</div>