<mat-toolbar class="mat-elevation-z3">
  
    <div class="spacer"></div> 
    <app-custome-search (term)="handleSearchTermChange($event)" ></app-custome-search>
    <button mat-fab color="primary" (click)="downloadData()"><mat-icon>get_app</mat-icon></button>

    <div class="spacer"></div> 
  
  </mat-toolbar>
  <br />

  <div class="responsive-grid">
      <mat-card *ngFor="let card of (cards$ | async)?.content;trackBy: myTrackByFunc">
          <mat-card-header >
            <mat-card-title >{{ card.name }}
              <div class="footer">{{ card.creation_date | date:'medium' }} </div>
            </mat-card-title>
            
            <div class="spacer"></div>
          
              <button mat-mini-fab color="primary" (click)="addChildHandler(card)" >
                <mat-icon>edit</mat-icon> 
              </button>
              <button mat-mini-fab  style="background-color:#E36414 ;" (click)="routeToFiniancial(card)" >
                <mat-icon >attach_money</mat-icon> 
              </button>
            
            </mat-card-header>
          <br />
          <!-- <img mat-card-image [src]="card.imageUrl" /> -->
          <mat-card-content>
        
            <p>Code ID: {{ card.code_id }}</p>
            <!-- <p>Name: {{ card.name }}</p> -->
            <p>Contact Details: {{ card.contact_details }}</p>
            <p>Is User Visible to Normal Users: {{ card.visible_to_normal_users }}</p>
          </mat-card-content>
          <mat-card-content class="footer">
             <p> {{ card.modification_date | date:'medium' }}</p>

             <div class="spacer"></div>
           
            <button mat-mini-fab color="primary" (click)="addChildHandler(card,true)" >
              <mat-icon>visibility_off</mat-icon> 
            </button>
            <button mat-mini-fab color="warn" (click)="handleDelete(card)" >
              <mat-icon>delete</mat-icon> 
            </button>
            </mat-card-content>
        </mat-card>
  
        <button mat-fab color="primary" class="floating-button" (click)="addChildHandler()">
          <mat-icon>add</mat-icon> <!-- You can change the icon as needed -->
        </button>
  
  
  
  </div>
  <mat-paginator showFirstLastButtons 
  [pageSize]="pageSize" 
  [pageSizeOptions]="pageSizeOptions" 
  (page)="pageEvent($event)" 
  [length]="totalRecords"></mat-paginator>