
 <div class="search-div dense-2">
    <mat-form-field #customMatFormField appearance="outline" [style.width.px]="searchWidth()"
    [dir]="direction" >
        <mat-label>   {{ "search_for" | translate }} ...</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="search" matInput 
   
        (keyup)="applyFilter($any($event.target).value)"
        (keydown.enter)="applyFilter($any($event.target).value)"
        (keydown.tab)="applyFilter($any($event.target).value)"
        >
    </mat-form-field>
</div>