  // border radius mat-form  
  :host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
  }
  
.search-div{
    margin-top: 25px;
    margin-right: 15px;
    // margin-bottom: 3px;
  //  margin-bottom: -1.25em;

  }

  @media screen and (max-width: 600px) {
    .search-div {
        margin-top: 25px; /* Adjust the margin for smaller devices */
        margin-right: 5px;
    }

    :host ::ng-deep .mdc-text-field--outlined {
        --mdc-outlined-text-field-container-shape: 10px; /* Adjust the border radius for smaller devices */
    }
}
