/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@include mat.core();



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --primary-color: #cc0000;
}

$mat-primary: (
    main:#cc0000,
    lighter:#f0b3b3,
    darker:#b90000,
    200: #cc0000,
    // for silde toggle
    contrast:(main:#ffffff,
        lighter:#000000,
        darker:#ffffff)
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent : mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-light-theme: mat.define-light-theme((color: (primary: $theme-primary,
                accent:$theme-accent ),
            typography: mat.define-typography-config(),
            density: 0,
        ));


$mat-dark: (
    main: #121212,
    // Dark background color
    lighter: #333333,
    // Slightly lighter background color
    darker: #000000,
    // Even darker background color
    200: #121212,
    // for slide toggle
    contrast: (main: #ffffff, // Text color on dark background
        lighter: #000000, // Text color on slightly lighter background
        darker: #ffffff // Text color on even darker background
    )
);

$theme-dark: mat.define-palette($mat-dark, main, lighter, darker);
$theme-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-dark-theme: mat.define-dark-theme((color: (primary: $theme-dark,
                accent: $theme-accent ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

.theme-ligth {
    @include mat.all-component-colors($my-light-theme);
}

.theme-dark {
    @include mat.all-component-colors($my-dark-theme);
}

// hide scroll bar
::-webkit-scrollbar {
    width: 0px;
}

.dense-1 {
    @include mat.all-component-densities(-1);
}
  
.dense-2 {
@include mat.all-component-densities(-5);
}