<mat-toolbar class="mat-elevation-z3" [dir]="direction" >
    
    <button  mat-icon-button (click)="toggleCollapse()" >
        <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div> 
    <!-- <img  class="logo-img-bar" src="/assets/logo.jpg" /> -->
    <h1>{{ pageTitle | translate }}</h1>
    <div class="spacer"></div> 
    <!-- <app-custome-search ></app-custome-search>
    <div class="spacer"></div>  -->
    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ darkTheme() ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleLanguage() ; $event.stopPropagation()">
        <mat-icon style="font-size: 16px;">{{ langCode() === "ar" ? "AR":"EN" }}</mat-icon>
      </button>
</mat-toolbar>
<mat-sidenav-container class="content">
    <mat-sidenav [opened]="opened()"  mode="side" [style.width]="sidenaveWidth()" [position]="sidenavPosition()">
        <app-custom-side-nav [dir]="direction" [collapsed]="collapsed()" (menuItemClicked)="onLinkClicked($event)"></app-custom-side-nav>
    </mat-sidenav>
    @if(direction === "ltr"){
        <mat-sidenav-content class="content" [style.margin-left]="sidenaveWidth()">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    } @else{
        <mat-sidenav-content class="content" [style.margin-right]="sidenaveWidth()">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    }
    
</mat-sidenav-container>