mat-toolbar {
    position: relative;
    z-index: 5;
}

.content {
    padding: 5px;
    // padding-left: 10px;
}
mat-sidenav-container{
    height: calc(100vh - 64px);
}

mat-sidenav,mat-sidenav-content {
    transition: all 500ms ease-in-out;
}

.spacer {
    flex: 1;
  }

  
  .logo-img-bar {
    padding-top: 8px;
    border-radius: 0%;
    object-fit: cover;
    margin-bottom: 10px;
    height: 40px;
    min-width: 600px;
    max-width: 900px;
}
@media (max-width: 600px) {
    .logo-img-bar {
        padding-top: 8px;
        border-radius: 30%;
        object-fit: cover;
        margin-bottom: 10px;
        height: 40px;
        min-width: 100px;
        max-width: 100px;
    }
  }

  h1.Logos {
    font-weight: 400;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0px #2d303a, -2px -2px 0px #2d303a, -2px 2px 0px #2d303a, 2px -2px 0px #2d303a;
    color: #875d5d;
}

@media only screen and (max-width:768px) {
   
    h1.Logos{
    //   margin-top:20px;
      font-size: 12px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 0px #2d303a, -1px -1px 0px #2d303a, -1px 1px 0px #2d303a, 1px -1px 0px #2d303a;
  
      
    //   transform: scale(0.25); 
    }
    h1.Logos span.bold-text {
        font-weight: bold;
    }
    
  }