<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="toggleCollapse()" >
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ darkTheme() ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
      </button>
</mat-toolbar>
<mat-sidenav-container class="content">
    <mat-sidenav opened  mode="side" [style.width]="sidenaveWidth()">
        <app-custom-side-nav [collapsed]="collapsed()"></app-custom-side-nav>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenaveWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>